{% load staticfiles %}
<!DOCTYPE HTML>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="stylesheet" href="{% static "bootstrap-3.3.4-dist/css/bootstrap.css" %}">
	<link rel="stylesheet" href="{% static "base/base.css" %}" type="text/css">
	<link rel="stylesheet" href="{% static "base/navbar.css" %}" type="text/css">
	<link rel="stylesheet" href="{% static "monitor/index.css" %}" type="text/css">
	<link rel="stylesheet" href="{% static "jquery/jquery-ui.min.css" %}" type="text/css">
	<link rel="shortcut icon" href="{% static "favicon.ico" %}">

	<script src="{% static "jquery/jquery-1.11.3.min.js" %}"></script>
	<script src="{% static "jquery/jquery-ui.min.js" %}"></script>
	<script src="{% static "jquery/jquery-dateFormat.min.js" %}"></script>
	<script src="{% static "bootstrap-3.3.4-dist/js/bootstrap.min.js" %}"></script>
	<script src="{% static "JSON-js-master/json2.js" %}"></script>

	{% block script %}{% endblock %}
	{% block header %}{% endblock %}
	<title>{% block title %}{% endblock %}</title>  	
</head>
<body class="body">
	<div id='ajax-loader'>
		<img src="{% static 'base/ajax-loader.gif' %}">
	</div>
	<div class="navbar">
		{% block navbar %}{% endblock %}
	</div>
	<div class="content">
		{% block content %}{% endblock %}
	</div>
</body>
</html>
