{% load staticfiles %}
<!DOCTYPE HTML>
<div class="navbar-home">
	{# <img id="navbar-home" src="{% static 'base/nav-title.png' %}"> #}
</div>
<div class="navbar-now">
	<span id="nav-date"></span>
	{# <img id ="nav-mode" src="{% static 'base/nav-manual-cool.png' %}"> #}
</div>
<div class="navbar-menus">
	<div class="menu" id="div-fullscreen">
		<img id="nav-fullscreen" src="{% static 'base/navbar-btns/fullscreen-sel.jpg' %}">
	</div>
	<div class="menu" id="div-operation-setting">
		<img id="nav-operation-setting">
	</div>
	<div class="menu" id="div-search-db">
		<img id="nav-search-db">
	</div>
	<div class="menu" id="div-manage-alarm">
		<img id="nav-manage-alarm">
	</div>
	{# <img class="menu" id="nav-fullscreen" src="{% static 'base/navbar-btns/fullscreen-sel.jpg' %}"> #}
	{# <img class="menu" id="nav-operation-setting" src="{% static 'base/navbar-btns/operation-setting.jpg' %}"> #}
	{# <img class="menu" id="nav-search-db" src="{% static 'base/navbar-btns/search-db.jpg' %}"> #}
	{# <img class="menu" id="nav-manage-alarm" src="{% static 'base/navbar-btns/manage-alarm.jpg' %}"> #}
</div>
<div class="navbar-operation-setting" style="display:none;">
	<p class="nav-op" id="nav-op-mode">운전모드설정</p>
	<p class="nav-op" id="nav-op-control">동작제어</p>
	{# <p class="nav-op" id="nav-op-db-interval">DB저장주기설정</p> #}
	<p class="nav-op" id="nav-op-change-password">비밀번호변경</p>
</div>
<div class="navbar-search-db" style="display:none;">
	<p class="nav-db" id="nav-db-ciu">실내기</p>
	<p class="nav-db" id="nav-db-hp">히트펌프</p>
	<p class="nav-db" id="nav-db-cp">순환펌프</p>
	<p class="nav-db" id="nav-db-dwp">심정펌프</p>
	<p class="nav-db" id="nav-db-fm">유량계</p>
	<p class="nav-db" id="nav-db-power">전력량계</p>
	<p class="nav-db" id="nav-db-tuber">관측센서</p>
	{# <p class="nav-db" id="nav-db-temperature">온도계</p> #}
	{# <p class="nav-db" id="nav-db-statistics">통계</p> #}
</div>
<div class="navbar-menu-right">
	<div class="menu-right" id="nav-manual"></div>
	<div class="menu-right" id="nav-logout"></div>
	{# <img class="menu-right" id="nav-manual" src="{% static 'base/navbar-btns/manual.png' %}"> #}
	{# <img class="menu-right" id="nav-logout" src="{% static 'base/navbar-btns/logout.png' %}"> #}
</div>

<script type="text/javascript">
$(document).ready(function() {
	var timeFormat = "yyyy-MM-dd HH:mm";
	var dt = new Date();
	$('#nav-date').html($.format.date(dt, timeFormat));
	setTimeout(displayTime, 6000);
	function displayTime() {
		var dt = new Date();
		$('#nav-date').html($.format.date(dt, timeFormat));
		setTimeout(displayTime, 6000);
	}
});
// navbar 1st line
// 전체화면
$('#div-fullscreen').on('click', clickFullscreen);
function clickFullscreen(){
	$('.navbar-operation-setting').css('display','none');
	$('.navbar-search-db').css('display','none');
	setBtnUnclick();
	$('#nav-fullscreen').attr('src', "{% static 'base/navbar-btns/fullscreen-sel.jpg' %}");

	var opMode = $('#operation-mode').text();
	var tempMode = $('#temperature-mode').text();
	// 전체화면 페이지로 이동
	$.ajax({
		url: '/monitor/reload_display/',
		type: "POST",
		data : {
			'csrfmiddlewaretoken': '{{ csrf_token }}',
			'opMode': opMode,
			'tempMode': tempMode,
		},
		success: function(data){
			$('body').css('background-image', "url({% static 'base/main.jpg' %})");

			$('.content').empty();
		
			$('.content').html("<div class='container' id='container'>" + data + "</div>");

			// 초기 세팅
			var btns = $('.btn-status');
			$.each(btns, function(i, val) {
				// alert(val.value);
				if(val.innerText === "OFF") {
					$(this).removeClass('status-on');
					$(this).addClass('status-off');
				} else if (val.innerText === "ON") {
					$(this).removeClass('status-off');
					$(this).addClass('status-on');
				}
			});
			$.each($('.hp-status, btn-cp'), function(i, val) {
				if(val.innerText === "OFF"){
					$(this).removeClass('status-on');
					$(this).addClass('status-off');
				} else {
					$(this).removeClass('status-off');
					$(this).addClass('status-on');
				}
				$(this).attr('disabled', true);
				$(this).removeClass('btn-default');
			});
		}
	});
	return false;
}
// 동작설정
$('#div-operation-setting').on('click', function() {
	$('.navbar-search-db').css('display','none');
	setBtnUnclick();
	$('#nav-operation-setting').attr('src', "{% static 'base/navbar-btns/operation-setting-sel.jpg' %}");
	$('.navbar-operation-setting').css('display','inline');
	$('.navbar-operation-setting').find('.nav-op-selected').first().removeClass('nav-op-selected');
	$('#nav-op-mode').addClass('nav-op-selected');
	// 운전모드설정 페이지 띄우기
	$.ajax({
		url: '/monitor/setting_mode/',
		type: "POST",
		data : {
			'csrfmiddlewaretoken': '{{ csrf_token }}',
		},
		success: function(data){
			$('body').css('background-image', "none");
			$('.content').html(data);	
		}
	});
});
// DB검색
$('#div-search-db').on('click', function() {
	$('.navbar-operation-setting').css('display','none');
	setBtnUnclick();
	$('#nav-search-db').attr('src', "{% static 'base/navbar-btns/search-db-sel.jpg' %}");
	$('.navbar-search-db').css('display','inline');
	$('.navbar-search-db').find('.nav-db-selected').first().removeClass('nav-db-selected');
	$('#nav-db-ciu').addClass('nav-db-selected');
	// 실내기 페이지 띄우기
	$.ajax({
		url: '/monitor/search_db_ciu/',
		type: "POST",
		data : {
			'csrfmiddlewaretoken': '{{ csrf_token }}',
		},
		success: function(data){
			$('body').css('background-image', 'none');
			$('.content').html(data);	
		}
	});
});

var popDatabase;
// 경보관리
$('#div-manage-alarm').on('click', function() {
	$('.navbar-operation-setting').css('display','none');
	$('.navbar-search-db').css('display','none');
	setBtnUnclick();
	$('#nav-manage-alarm').attr('src', "{% static 'base/navbar-btns/manage-alarm-sel.jpg' %}");
	// $('body').css('background-image', "none");
	popDatabase = window.open('/monitor/search_db_ciu/','DB',
		'height=300,width=400,left=300,top=200,resizable=yes,scrollbars=yes,toolbar=no,menubar=no,location=no,directories=no,status=yes');
});

function setBtnUnclick() {
	$('#nav-fullscreen').removeAttr('src');
	$('#nav-operation-setting').removeAttr('src');
	$('#nav-search-db').removeAttr('src');
	$('#nav-manage-alarm').removeAttr('src');
}


// 동작설정 하위 메뉴
// 운전모드설정
$('#nav-op-mode').on('click', function(event){
	if($(event.target).is('.navbar-operation-setting')){
		return;
	}
	$('.navbar-operation-setting').find('.nav-op-selected').first().removeClass('nav-op-selected');
	$('#nav-op-mode').addClass('nav-op-selected');
	$.ajax({
		url: '/monitor/setting_mode/',
		type: "POST",
		data : {
			'csrfmiddlewaretoken': '{{ csrf_token }}',
		},
		success: function(data){
			$('.content').html(data);
		}
	});
});

// 동작제어
$('#nav-op-control').on('click', function (event) {
	if($(event.target).is('.navbar-operation-setting')){
		return;
	}
	$('.navbar-operation-setting').find('.nav-op-selected').first().removeClass('nav-op-selected');
	$(event.target).addClass('nav-op-selected');
	$.ajax({
		url: '/monitor/operation_control/',
		type: "POST",
		data : {
			'csrfmiddlewaretoken': '{{ csrf_token }}',
		},
		success: function(data){
			// 동작설정-동작제어 선택 이펙트
			$('.navbar-operation-setting').find('.nav-op-selected').first().removeClass('nav-op-selected');
			$('#nav-op-control').addClass('nav-op-selected');
			$('#nav-mode').css('src', "{% static 'base/nav-manual-cool.png' %}");
			// 내용 갱신
			$('.content').html(data);	
			$('.control-modal').css('background-image', "url({% static 'monitor/cooling2.jpg' %})");

			// 초기 세팅
			var btns = $('.btn-status');
			$.each(btns, function(i, val) {
				// alert(val.value);
				if(val.innerText === "OFF") {
					$(this).removeClass('status-on');
					$(this).addClass('status-off');
				} else if (val.innerText === "ON") {
					$(this).removeClass('status-off');
					$(this).addClass('status-on');
				}
			});
			$.each($('.hp-status, .btn-cp'), function(i, val) {
				if(val.innerText === "OFF"){
					$(this).removeClass('status-on');
					$(this).addClass('status-off');
				} else {
					$(this).removeClass('status-off');
					$(this).addClass('status-on');
				}
				$(this).attr('disabled', true);
				$(this).removeClass('btn-default');
			});
		}
	});
	return false;
});

// db 저장 주기 설정
$('#nav-op-db-interval').on('click', function() {
	if($(event.target).is('.navbar-operation-setting')){
		return;
	}
	$('.navbar-operation-setting').find('.nav-op-selected').first().removeClass('nav-op-selected');
	$(event.target).addClass('nav-op-selected');
	$.ajax({
		url: 'monitor/set_db_save_interval/',
		type: "POST",
		data: {
			'csrfmiddlewaretoken': '{{ csrf_token }}',
		},
		success: function(data) {
			$('.content').html(data);
		}
	});
});

// 비밀번호변경
$('#nav-op-change-password').on('click', function() {
	if($(event.target).is('.navbar-operation-setting')){
		return;
	}
	$('.navbar-operation-setting').find('.nav-op-selected').first().removeClass('nav-op-selected');
	$(event.target).addClass('nav-op-selected');
	$.ajax({
		url: '/login/change_password_page/',
		type: "POST",
		data : {
			'csrfmiddlewaretoken': '{{ csrf_token }}',
		},
		success: function(data){
			$('.content').html(data);
		}
	});
});


// DB검색 하위 메뉴
// 실내기
$('#nav-db-ciu').on('click', function(event) {
	if($(event.target).is('.navbar-search-db')){
		return;
	}
	$('.navbar-search-db').find('.nav-db-selected').first().removeClass('nav-db-selected');
	$(event.target).addClass('nav-db-selected');	
	$.ajax({
		url: '/monitor/search_db_ciu/',
		type: "POST",
		data : {
			'csrfmiddlewaretoken': '{{ csrf_token }}',
		},
		success: function(data){
			$('.content').html(data);	
		}
	});
});
// 히트펌프
$('#nav-db-hp').on('click', function(event) {
	if($(event.target).is('.navbar-search-db')){
		return;
	}
	$('.navbar-search-db').find('.nav-db-selected').first().removeClass('nav-db-selected');
	$(event.target).addClass('nav-db-selected');	
	$.ajax({
		url: '/monitor/search_db_hp/',
		type: "POST",
		data : {
			'csrfmiddlewaretoken': '{{ csrf_token }}',
		},
		success: function(data){
			$('.content').html(data);	
		}
	});
});
// 순환펌프
$('#nav-db-cp').on('click', function(event) {
	if($(event.target).is('.navbar-search-db')){
		return;
	}
	$('.navbar-search-db').find('.nav-db-selected').first().removeClass('nav-db-selected');
	$(event.target).addClass('nav-db-selected');	
	$.ajax({
		url: '/monitor/search_db_cp/',
		type: "POST",
		data : {
			'csrfmiddlewaretoken': '{{ csrf_token }}',
		},
		success: function(data){
			$('.content').html(data);	
		}
	});
});
// 심정펌프
$('#nav-db-dwp').on('click', function(event) {
	if($(event.target).is('.navbar-search-db')){
		return;
	}
	$('.navbar-search-db').find('.nav-db-selected').first().removeClass('nav-db-selected');
	$(event.target).addClass('nav-db-selected');	
	$.ajax({
		url: '/monitor/search_db_dwp/',
		type: "POST",
		data : {
			'csrfmiddlewaretoken': '{{ csrf_token }}',
		},
		success: function(data){
			$('.content').html(data);	
		}
	});
});
// 유량계
$('#nav-db-fm').on('click', function(event) {
	if($(event.target).is('.navbar-search-db')){
		return;
	}
	$('.navbar-search-db').find('.nav-db-selected').first().removeClass('nav-db-selected');
	$(event.target).addClass('nav-db-selected');	
	$.ajax({
		url: '/monitor/search_db_fm/',
		type: "POST",
		data : {
			'csrfmiddlewaretoken': '{{ csrf_token }}',
		},
		success: function(data){
			$('.content').html(data);	
		}
	});
});
// 전력량계
$('#nav-db-power').on('click', function(event) {
	if($(event.target).is('.navbar-search-db')){
		return;
	}
	$('.navbar-search-db').find('.nav-db-selected').first().removeClass('nav-db-selected');
	$(event.target).addClass('nav-db-selected');	
	$.ajax({
		url: '/monitor/search_db_power/',
		type: "POST",
		data : {
			'csrfmiddlewaretoken': '{{ csrf_token }}',
		},
		success: function(data){
			$('.content').html(data);	
		}
	});
});


$('#nav-logout').on('click', function() {
	$.post("/login/logout/", function(data) {
		$('html').html(data)
	});
});
</script>






