.bold {
	font-weight: bold;
}
.pos-abs {
	position: absolute;
}

#ajax-loader {
	position: fixed;
	top: 50%;
	left: 50%;
	display: none;
}

/********************************* layout *********************************/
.container {
	width: 100%;
	background-image: url("main.jpg");
	padding-left: 0;
	padding-right: 0;
	height: 812px;
}

.left {
	top: 167px;
	width: 1398px;
	height: 812px;
}

.right {
	top: 167px;
	left: 1398px;
	width: 522px;
	height: 812px;
	padding: 5px 10px 4px 21px;
}

/********************************* 상태창 *********************************/
.left-status {
	top: 49px;
	width: 1398px;
	height: 681px;
}
.table-value {
	text-align: center;
}

/********************************* 실시간 정보 *********************************/
.real-time-information {
	top: 61.5px;
	left: 192px;
	width: 114px;
	height: 176px;
}
.table-real-time { 
	width: 100%;
}
.table-real-time > tbody > tr > td {
	padding: 9px;
	height: 37px;
}
.table-real-time > tbody > tr > #p-cur {
	padding: 8px;
}
/********************************* 히트펌프 *********************************/
.heat-pump {
	top: 16px;
	left: 653px;
	width: 668px;
	height: 44px;
}
.table-heat-pump {
	display: inline-table;
	margin-top: 3px;
	margin-right: 0.5px;
	margin-left: 34px;
	width: 73px;
}
.heat-pump-status {
	top: 77.5px;
	left: 665px;
	width: 665px;
	height:35px;
}
.table-hp-status {
	display:inline-table;
	width: 85px;
	height: 35px;
	margin-right: 21.5px;
}

/********************************* 순환펌프 *********************************/
.circulating-pump {
	top: 206px;
	left: 476px;
	width: 125px;
	height: 93px;
}
#cp-operating {
	display: none;
}
#cp-setting-cp {
	left: 88px;
	width: 32px;
	height: 20px;
}
.mode-mn {
	cursor: pointer;
}

.table-circulating-pump {
	margin-top: 22px;
	margin-left: 45px;
}
.table-circulating-pump > tbody > tr > td {
	padding: 1px 0px;
}
.circulating-pump-status {
	top: 322px;
	left: 498px;
}

/********************************* 유량계 *********************************/
.flowmeter {
	width: 106px;
	height: 44px;
}
.fm-cp-he-out {
	top: 254px;
	left: 780px;
}
.fm-cp-he-in {
	top: 254px;
	left: 1110px;
}
.CP-Flowmeter {
	font-size: smaller;
}
.fm-dwp-he-in {
	top: 422px;
	left: 780px;
}
.fm-dwp-he-out {
	top: 422px;
	left: 1110px;
}
.table-flowmeter {
	width: 72px;
	height: 39px;
	margin-top: 4px;
	margin-left: 29px;
	font-size: small;
}

/********************************* 열교환기 *********************************/
.heat-exchanger {
	top: 319px;
	left: 966px;
}
/********************************* 심정펌프 *********************************/
.deepwell-pump {
	top: 596px;
	left: 64px;
	width: 580px;
	height: 75px;
}
.table-deepwell-pump {
	display: inline-table;
	width: 73px;
	height: 65px;
	margin: 5px 8.5px 0px 59px;
	font-size: small;
}
.table-deepwell-pump > tbody > tr {
	margin: 1px 0px;
}
.deepwell-pump-status {
	top: 434px;
	left: 110px;
}
.table-dwp-status {
	display: inline-table;
	margin-right: 95px;
}

/******************************** 경보창 *********************************/
.left-footer {
	top: 730px;
	width: 1398px;
	height: 82px;
}
/* 경보음 */
#sound {
	display: none;
}

/* 경보 상태 버튼 */
.alarm-left {
	top: 12px;
	left: 73px;
}
#alarm-status-active:hover {
	cursor: pointer;
}

/* 경보 내용*/
.alarm-content {
	top: 37px;
	left: 177px;
	width: 1066px;
	height: 35px;
}
.error-msg {
	border: none;
	width: 1065px;
	height: 33px;
	margin-bottom: 0px;
	text-align: center;
}
.error-msg > tbody > tr > #status {
	width: 359px;
}
.error-msg > tbody > tr > #locatioin {
	width: 384px;
}
.error-msg > tbody > tr > #ot {
	width: 319px;
}

/* 경보음 해제 */
.alarm-right {
	top: 12px;
	left: 1266px;
}
#alarm-sound-active:hover {
	cursor: pointer;
}

/********************************* 실내기 ********************************/
.movements-title {
	top: 15px;
	left: 441px;
}
.movements-title > p {
	color: #e2e4e3;
	font-size: 19px;
}

.unit-info {
	top: 70px;
	left: 22px;
}

.ciu {
	display: inline-table;
	margin: 18px;
}
.ciu > tbody > tr > td {
	width: 146px;
	height: 86px;
	padding: 58px 8px 7px 69px;
	text-align: center;
	border: 15px solid #e0eaf7;
}

.total-information {
	background-image: url('ciu_total.png');
	top: 50px;
	left: 17px;
	width: 453px;
	height: 330px;
}
.table-total {
	margin-top: 95px;
	margin-left: 70px;
	text-align: center;
}
.table-total > tbody > tr {
	height: 53px;
}
.table-total > tbody > tr > td {
	padding: 0px 5px;
	border: 15px solid transparent;
}
.total {
	width: 93px;
}
.on, .off {
	width: 72px;
}
.rt {
	width: 111px;
}

/********************************* 실내기 내비 *********************************/
.slider {
	top: 634px;
	left: 22px;
}
.div-hp {
	top: 5px;
	left: 135px;
	width: 350px;
}
.div-fl {
	top: 66px;
	left: 135px;
	width: 350px;
}
.div-total {
	top: 130px;
	left: 227px;
	width: 80px;
}
.div-total:hover {
	cursor: pointer;
}

.hp-ciu {
	margin-right: 7px;
}
.hp-ciu:hover, .floor:hover {
	cursor: pointer;
}
#f2, #f3 {
	margin-left: 92px;
}
#total {
	color: #e2e4e3;
	font-size: 21px;
	font-family: "Malgun Gothic";
}


