{% load staticfiles %}
<!DOCTYPE HTML>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<script src="{% static "jquery/jquery-1.11.3.min.js" %}"></script>
	<script src="{% static "bootstrap-3.3.4-dist/js/bootstrap.min.js" %}"></script>
	<script type="text/javascript" src="{% static "monitor/index.js" %}"></script>

	<link rel="stylesheet" href="{% static "bootstrap-3.3.4-dist/css/bootstrap.min.css" %}">
	<link rel="stylesheet" href="{% static "login/index.css" %}" type="text/css">
	{% block script %}{% endblock %}{% block header %}{% endblock %}
    	<title>{% block title %}{% endblock %}</title>
</head>
<body>
	{% block content %}{% endblock %}
	{% block footer %}{% endblock %}
</body>
</html>
