<!DOCTYPE HTML>
{% extends "login/base.html" %}
{% load staticfiles %}

{% block title %} K-ATES {% endblock %}
{% block content %}
{% if user.is_authenticated %} {% include "login/success.html" %}

{% else %}
<div class="content">
	<div class="div-login login-width pos-abs">
		<div class="input pos-abs">
		<form class="form-horizontal" action="." method="post">{% csrf_token %}
			<input type="text" class="form-control" id="username" placeholder="username" name="username">
			<input type="password"  class="form-control" placeholder="password" name="password">
		</div>
		<div class="error login-width pos-abs">
		{% if state %}
			<p style="color:red;">{{ state }}</p>
		{% endif %}
		</div>
		<div class="submit login-width pos-abs">
			<button type="submit" name="submit" value="Log in"><img id="ok" src="{% static "login/ok.png" %}"></button>
			<button><img id="cancel" src="{% static "login/cancel.png" %}"></button>
		</div>
		</form>
	</div>
</div>

<script type="text/javascript">
$('#cancel').on('click', loginCancel);
function loginCancel () {
	window.close();
}
</script>
{% endif %}
{% endblock %}
