{% extends "base/base.html" %}
{% load staticfiles %}
{% block title %}K-ATES{% endblock %}

{% block script %}
<script type="text/javascript">
// ajax loading image
$('#ajax-loader').ajaxStart(function() {
	$(this).show();
}).ajaxComplete(function() {
	$(this).hide();
});

// 초기 세팅
$('#cl-status').addClass('sys-selected');
$('#at-status').addClass('sys-selected');
// 자동 모드 - 버튼 비활성화
$('.btn-status').attr('disabled', true);
$('.btn-status').removeClass('btn-default');
$('#cp-setting').attr('disabled', true);
$('#cp-setting').removeClass('btn-default');

function playSound () {
	$('#sound').html(
		'<audio autoplay="autoplay" loop="loop">'+
		'<source type="audio/wav" src="{% static "monitor/alarm/alarm.wav" %}" />' +
		'</audio>'
		);
}
var stopsound = false;
function stopSound () {
	$('#sound').html('');
}
function changePassword() {
	// $.post("/monitor/change_password_page/", function(data) {
		// $('.right-top').html(data);
	// });
}

var displayTime = 3000;
var displayVar = setTimeout(function(){reloadDisplay();}, displayTime);
function reloadDisplay() {
	// 실내기 상태창 선택된 버튼 찾기
	// 층
	var ciu_nav = $('.div-fl').find('.ciu-sel').attr('id');
	if (typeof(ciu_nav) == 'undefined') {
		// 히트펌프
		ciu_nav = $('.div-hp').find('.ciu-sel').attr('id');
	}
	if (typeof(ciu_nav) == 'undefined') {
		// 전체
		ciu_nav = "total";
	}
	// console.log(ciu_nav);
	var src, srcSel;
	switch (ciu_nav) {
		case 'h1':
			src = "{% static 'monitor/right/hp1.png' %}"; 
			srcSel = "{% static 'monitor/right/hp1-sel.png' %}"; 
			break;
		case 'h2':
			src = "{% static 'monitor/right/hp2.png' %}"; 
			srcSel = "{% static 'monitor/right/hp2-sel.png' %}"; 
			break;
		case 'h3':
			src = "{% static 'monitor/right/hp3.png' %}"; 
			srcSel = "{% static 'monitor/right/hp3-sel.png' %}"; 
			break;
		case 'h4':
			src = "{% static 'monitor/right/hp4.png' %}"; 
			srcSel = "{% static 'monitor/right/hp4-sel.png' %}"; 
			break;
		case 'h5':
			src = "{% static 'monitor/right/hp5.png' %}"; 
			srcSel = "{% static 'monitor/right/hp5-sel.png' %}"; 
			break;
		case 'h6':
			src = "{% static 'monitor/right/hp6.png' %}"; 
			srcSel = "{% static 'monitor/right/hp6-sel.png' %}"; 
			break;
		case 'f1':
			src = "{% static 'monitor/right/floor1.png' %}"; 
			srcSel = "{% static 'monitor/right/floor1-sel.png' %}"; 
			break;
		case 'f2':
			src = "{% static 'monitor/right/floor2.png' %}"; 
			srcSel = "{% static 'monitor/right/floor2-sel.png' %}"; 
			break;
		case 'f3':
			src = "{% static 'monitor/right/floor3.png' %}"; 
			srcSel = "{% static 'monitor/right/floor3-sel.png' %}"; 
			break;
	}

	$.ajax({
		url: "/monitor/reload_display/",
		type: "POST",
		data : {
			'csrfmiddlewaretoken': '{{ csrf_token }}',
			'ciu_nav':ciu_nav,
		},
		success: function(data){
			setTimeout(function(){reloadDisplay();}, displayTime);
			// 전체화면
			$('#container').html(data);
			
			// 실내기 상태창 맞추기
			$('#total').css('color', '#e2e4e3');
			$('.div-hp').find('.ciu-sel').removeClass('ciu-sel');
			$('.div-fl').find('.ciu-sel').removeClass('ciu-sel');
			$('.div-hp').find('#'+ciu_nav).addClass('ciu-sel').attr('src', srcSel);
			$('.div-fl').find('#'+ciu_nav).addClass('ciu-sel').attr('src', srcSel);
			if (ciu_nav == "total") {
				// total information
				$('#total').css('color', 'rgb(241, 150, 0)');
			}

			if (stopsound) {
				$('#sound').html('');
			}
		},
	}).fail(function() {
		var dt = new Date();
		var time = dt.getHours() + ":" + dt.getMinutes() + ":" + dt.getSeconds();
		console.log(time + " reload display error");
		// alert("reload display error!");
	});
	return false;
}


</script>
{% endblock %}

{% block navbar %}
	{% include "navbar/navbar.html" %}
{% endblock %}
