<!DOCTYPE HTML>
{# <div class="container"> #}
	<div style="display:none;"><p id='operation-mode'>{{ op_mode }}</p><p id='temperature-mode'>{{ temp_mode }}</p></div>
	<div class="left" id="left">
		<div class="left-status" id="left-status">
			{% include "monitor/left-status.html" %}
		</div>
		<div class="left-footer" id="left-footer">

		</div>
	</div>
	<div class="right">
		<div class="right-top" id="right-top">
			{% include "monitor/right_top.html" %}
		</div>
		<div class="right-bottom" id="right-bottom">
			{% include "monitor/right_bottom.html" %}
		</div>
	</div>
{# </div> #}

