{% load staticfiles %}
<!DOCTYPE HTML>
<div class="left pos-abs" id="left">
	<div class="left-status pos-abs" id="left-status">
		{% include "monitor/left-status.html" %}
	</div>
	<div class="left-footer pos-abs" id="left-footer">
		{% include "monitor/left-alarm.html" %}
	</div>
</div>
<div class="right pos-abs" id="right">
	{% include "monitor/right.html" %}
</div>
	{# <div class="right-top" id="right-top"> #}
		{# {% include "monitor/right_top.html" %} #}
	{# </div> #}
	{# <div class="right-bottom" id="right-bottom"> #}
		{# {% include "monitor/right_bottom.html" %} #}
	{# </div> #}

