{% load staticfiles %}
<!DOCTYPE HTML>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="stylesheet" href="{% static "bootstrap-3.3.4-dist/css/bootstrap.css" %}">
	<link rel="stylesheet" href="{% static "monitor/database.css" %}" type="text/css">
	<link rel="stylesheet" href="{% static "jquery/jquery-ui.min.css" %}" type="text/css">
	<link rel="shortcut icon" href="{% static "favicon.ico" %}">

	<script src="{% static "jquery/jquery-1.11.3.min.js" %}"></script>
	<script src="{% static "jquery/jquery-ui.min.js" %}"></script>
	<script src="{% static "jquery/jquery-dateFormat.min.js" %}"></script>
	<script src="{% static "bootstrap-3.3.4-dist/js/bootstrap.min.js" %}"></script>
	<script src="{% static "JSON-js-master/json2.js" %}"></script>
	<title>데이터베이스를 검색합니다.</title>  	
</head>
<body class="body" body oncontextmenu="return false;">
	<div id='ajax-loader'>
		<img src="{% static 'monitor/ajax-loader.gif' %}">
	</div>
	<div class="content">
		{% block content %}{% endblock %}
	</div>
</body>
</html>

<script type="text/javascript">
$('select[name=type]').on('change', selectDbType);
function selectDbType () {
	var device = $(this).val();
	window.location.href = '/monitor/search_db_'+device + '/';
}
</script>

