{% load staticfiles %}
{% load monitor_extras %}
<!DOCTYPE HTML>
{# 실시간 정보 #}
<div class="real-time-information pos-abs">
	<table class="left-table table-real-time">
		<tbody>
			<tr>
				{# <td class="table-title">COP</td> #}
				<td class="table-value" id="CoefficientOfPerformance">{{ COP|floatformat:2 }}</td>
			</tr>
			<tr>
				{# <td class="table-title">RT</td> #}
				<td class="table-value" id="RefrigerationTon">{{ rt_total|floatformat:2 }}</td>
			</tr>
			<tr>
				<td class="table-value" id="flux-int">{{ DWPFM.integralFlux|floatformat:0 }}</td>
			</tr>
			<tr>
				{# <td class="table-title">순시 전력</td> #}
				<td class="table-value PowerConsumption" id="p-cur">{{ power.currentPowerConsumption|floatformat:2 }}</td>
			</tr>
			<tr>
				{# <td class="table-title">적산 전력</td> #}
				<td class="table-value PowerConsumption">{{ power.integralPowerConsumption|floatformat:2 }}</td>
			</tr>
		</tbody>
	</table>
</div>

{# 히트펌프 상태 #}
<div class="heat-pump pos-abs">
	{% for pump in heat_pump %}
	<table class="left-table table-heat-pump">
		<tbody>
			<tr>
				<td class="table-value" id="TempHPIn{{ forloop.counter }}">{{ pump.tempIn|floatformat:2 }}  °C</td>
			</tr>
			<tr>
				<td class="table-value" id="TempHPOut{{ forloop.counter }}">{{ pump.tempOut|floatformat:2 }}  °C</td>
			</tr>
		</tbody>
	</table>
	{% endfor %}
</div>
{# 히트펌프 프로펠러 #}
<div class="heat-pump-status pos-abs">
	{% for pump in heat_pump %}
	<table class="table-hp-status">
		<tbody>
			<tr>
				<td class="table-value td-hp-status">
				{% if pump.switch == "OFF" %}
					<img class="hp-status{{ forloop.counter }}" src="{% static "monitor/left/hp-off.png" %}">
				{% else %} {# switch == "ON" #}
					{% if temp_mode == "CL" %}
					{# 냉방모드 #}
					<img class="hp-status{{ forloop.counter }}" src="{% static "monitor/left/hp-on-cl.gif" %}">
					{% else %}
					{# 난방모드 #}
					<img class="hp-status{{ forloop.counter }}" src="{% static "monitor/left/hp-on-ht.gif" %}">
					{% endif %}
				{% endif %}
				</td>
			</tr>
		</tbody>
	</table>
	{% endfor %}
</div>

{# 순환펌프 상태 #}
{# {{ cp_operating }} #}
<div class="circulating-pump pos-abs">
	{# {% for pump in CP %} #}
	{# 작동중인 순환펌프 #}
	{# <p id="cp-operating">{{ cp_operating }}</p> #}
	{# 설정버튼 #}
	<div class="pos-abs" id="cp-setting-cp">
		<img id="btn-setting-cp" src="{% static "monitor/left/setting-cp.png" %}">
	</div>
	<table class="left-table table-circulating-pump">
		{# <thead> #}
			{# <tr><td colspan="2"> #}
				{# <p class="device" id="cp{{ pump.get_CPID_display }}"><b>순환 펌프 {{ pump.get_CPID_display }} #}
				{# </b></p> #}
			{# </td></tr> #}
		{# </thead> #}
		<tbody>
			<tr>
				<td>
				{% if cp_operating == 1 %}
					{% if CP.0.switch == "ON" %}
						<img class="switch-status" id="cp-switch" src="{% static "monitor/left/switch-on.jpg" %}">
					{% else %} {# switch == "OFF" #}
						<img class="switch-status" id="cp-switch" src="{% static "monitor/left/switch-off.jpg" %}">
					{% endif %}
				{% else %}	{# cp_operating == 2 #}
					{% if CP.1.switch == "ON" %}
						<img class="switch-status" id="cp-switch" src="{% static "monitor/left/switch-on.jpg" %}">
					{% else %} {# switch == "OFF" #}
						<img class="switch-status" id="cp-switch" src="{% static "monitor/left/switch-off.jpg" %}">
					{% endif %}
				{% endif %}
				</td>
			</tr>
			<tr>
				{% if cp_operating == 1 %}
				<td class="table-value" id="CirculatingPump">{{ CP.0.flux|floatformat:0 }} LPM</td>
				{% else %}
				<td class="table-value" id="CirculatingPump">{{ CP.1.flux|floatformat:0 }} LPM</td>
				{% endif %}
			</tr>
			<tr>
				{% if cp_operating == 1 %}
				<td class="table-value" id="CirculatingPump">{{ CP.0.Hz }} Hz</td>
				{% else %}
				<td class="table-value" id="CirculatingPump">{{ CP.1.Hz }} Hz</td>
				{% endif %}
			</tr>
		</tbody>
	</table>
	{# {% endfor %} #}
</div>
{# 순환펌프 프로펠러 #}
<div class="circulating-pump-status pos-abs">
	{% if cp_operating == 1 %}
		{% if CP.0.switch == "ON" %}
			{% if temp_mode == "CL" %}
			{# 냉방모드 #}
			<img class="cp-status" src="{% static "monitor/left/cp-on-cl.gif" %}">
			{% else %}
			{# 난방모드 #}
			<img class="cp-status" src="{% static "monitor/left/cp-on-ht.gif" %}">
			{% endif %}
		{% else %} {# switch == "OFF" #}
			<img class="cp-status" src="{% static "monitor/left/cp-off.png" %}">
		{% endif %}
	{% else %}	{# cp_operating == 2 #}
		{% if CP.1.switch == "ON" %}
			{% if temp_mode == "CL" %}
			{# 냉방모드 #}
			<img class="cp-status" src="{% static "monitor/left/cp-on-cl.gif" %}">
			{% else %}
			{# 난방모드 #}
			<img class="cp-status" src="{% static "monitor/left/cp-on-ht.gif" %}">
			{% endif %}
		{% else %} {# switch == "OFF" #}
			<img class="cp-status" src="{% static "monitor/left/cp-off.png" %}">
		{% endif %}
	{% endif %}
</div>

{# 순환 유량계 #}
<div class="flowmeter fm-cp-he-out pos-abs">
	<table class="left-table table-flowmeter">
		<tbody>
			<tr>
				<td class="table-value CP-Flowmeter">{{ CPFM.currentFlux|floatformat:2 }} LPM</td>
			</tr>
			<tr>
				<td class="table-value" id="TempHEOut1">{{ temp_HEOut1.temperature|floatformat:2 }} °C</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="flowmeter fm-cp-he-in pos-abs">
<table class="left-table table-flowmeter">
	<tbody>
		<tr>
			{# <td class="table-title">순시 유량</td> #}
			<td class="table-value CP-Flowmeter">{{ CPFM.currentFlux|floatformat:2 }} LPM</td>
		</tr>
		<tr>
			{# <td class="table-title">수온</td> #}
			<td class="table-value" id="TempHEIn1">{{ temp_HEIn1.temperature|floatformat:2 }} °C</td>
		</tr>
	</tbody>
</table>
</div>
{# 열교환기 #}
<div class="heat-exchanger pos-abs">
	{% if temp_mode == "CL" %}
	<img id="he" src="{% static "monitor/he-cool.png" %}">
	{% else %} {# "HT" #}
	<img id="he" src="{% static "monitor/he-heat.png" %}">
	{% endif %}
</div>

{# 심정 유량계 #}
<div class="flowmeter fm-dwp-he-in pos-abs">
	<table class="left-table table-flowmeter">
		<tbody>
			<tr>
				<td class="table-value" id="DWP-flowmeter">{{ DWPFM.currentFlux|floatformat:2 }} T/hr</td>
			</tr>
			<tr>
				<td class="table-value" id="TempHEIn2">{{ temp_HEIn2.temperature|floatformat:2 }} °C</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="flowmeter fm-dwp-he-out pos-abs">
	<table class="left-table table-flowmeter">
		<tbody>
			<tr>
				<td class="table-value" id="DWP-flowmeter">{{ DWPFM.currentFlux|floatformat:2 }} T/hr</td>
			</tr>
			<tr>
				<td class="table-value" id="TempHEOut2">{{ temp_HEOut2.temperature|floatformat:2 }} °C</td>
			</tr>
		</tbody>
	</table>
</div>

{# 심정펌프 프로펠러 #}
<div class="deepwell-pump-status pos-abs">
	{% for pump in DWP %}
	<table class="table-dwp-status">
		<tbody>
			<tr>
				<td class="table-value td-dwp-status">
				{% if pump.switch == "OFF" %}
					<img id="dwp-status{{ forloop.counter }}" src="{% static "monitor/left/dwp-off.png" %}">
				{% else %} {# switch == "ON" #}
					{% if temp_mode == "CL" %}
					{# 냉방모드 #}
					<img id="dwp-status{{ forloop.counter }}" src="{% static "monitor/left/dwp-on-cl.gif" %}">
					{% else %}
					{# 난방모드 #}
					<img id="dwp-status{{ forloop.counter }}" src="{% static "monitor/left/dwp-on-ht.gif" %}">
					{% endif %}
				{% endif %}
				</td>
			</tr>
		</tbody>
	</table>
	{% endfor %}
</div>
{# 심정펌프 상태 #}
<div class="deepwell-pump pos-abs">
	{% for pump in DWP %}
	<table class="left-table table-deepwell-pump">
		<tbody>
			<tr>
				<td>
					{% if pump.switch == "OFF" %}
						<img class="switch-status dwp-switch switch-off" id="dwp{{ forloop.counter }}" src="{% static "monitor/left/switch-off.jpg" %}">
					{% else %} {# switch == "ON" #}
						<img class="switch-status dwp-switch switch-on" id="dwp{{ forloop.counter }}" src="{% static "monitor/left/switch-on.jpg" %}">
					{% endif %}
				</td>
			</tr>
			<tr>
				<td class="table-value" id="DeepwellPump{{ forloop.counter }}">{{ pump.level|floatformat:2 }} m</td>
			</tr>
			<tr>
				<td class="table-value" id="DeepwellPump{{ forloop.counter }}">{{ pump.get_waterLevel_display }}</td>
			</tr>
		</tbody>
	</table>
	{% endfor %}
</div>

<script type="text/javascript">
$(document).ready(chkBtnActive);
function chkBtnActive () {
	// 자동/수동 모드에 따른 순환펌프, 심정펌프 :hover 이펙트
	if ($("#mode-manual").attr('src').split('/')[4].indexOf("sel") > 0) {
		$('.dwp-switch, #btn-setting-cp').addClass("mode-mn");
	} else {
		$('.dwp-switch, #btn-setting-cp').removeClass("mode-mn");
	}
}
$('#btn-setting-cp').on('click', clickSettingCp);
var popSettingCp;
function clickSettingCp () {
	// 순환펌프 제어
	// 자동모드인 경우 pass
	if ($("#mode-auto").attr('src').split('/')[4].indexOf("sel") > 0) {
		console.log("자동모드입니다.");
		return;
	}
	var cp_operating = {{ cp_operating }};
	popSettingCp = window.open('/monitor/setting_cp/','pop',
		'height=600,width=1000,left=400,top=260,resizable=yes,scrollbars=yes,toolbar=no,menubar=no,location=no,directories=no,status=yes');
	popSettingCp.resizeTo(590,365);

}

$('.dwp-switch').on('click', clickPumpSwitch);
function clickPumpSwitch () {
	// 심정펌프 제어
	// 자동모드인 경우 pass
	if ($("#mode-auto").attr('src').split('/')[4].indexOf("sel") > 0) {
		console.log("자동모드입니다.");
		return;
	}

	var id = this.id;
	var toggle;
	if ($(this).hasClass('switch-on')) {
		// ON일 때 눌렀으니 OFF 시킨다.
		toggle = "OFF";
	} else {
		// OFF일 때 눌렀으니 ON 시킨다.
		toggle = "ON";
	}

	$.ajax({
		url: 'monitor/toggle_switch/',
		type: "POST",
		data: {
			'csrfmiddlewaretoken': '{{ csrf_token }}',
			'id': id,
			'switch': toggle,
		},
		success: function(data) {
			if (toggle == "ON") {
				// 스위치
				$('#'+id).attr('src', "{% static 'monitor/left/switch-on.jpg' %}");
				$('#'+id).removeClass('switch-off').addClass('switch-on');
				// 프로펠러
				if ("{{ temp_mode }}" == "CL") {
					// 냉방모드
					$("#dwp-status" + id[3]).attr('src', "{% static 'monitor/left/dwp-on-cl.gif' %}");
				} else {
					// 난방모드
					$("#dwp-status" + id[3]).attr('src', "{% static 'monitor/left/dwp-on-ht.gif' %}");
				}
			} else {	// toggle == OFF
				// 스위치
				$('#'+id).attr('src', "{% static 'monitor/left/switch-off.jpg' %}");
				$('#'+id).removeClass('switch-on').addClass('switch-off');
				// 프로펠러
				$("#dwp-status" + id[3]).attr('src', "{% static 'monitor/left/dwp-off.png' %}");
			}
		}
	}).fail(function() {
		var dt = new Date();
		var time = dt.getHours() + ":" + dt.getMinutes() + ":" + dt.getSeconds();
		console.log(time + " reload display error");
		reloadDisplay();
	});
	return false;


}

$('.table-heat-pump').on('click', clickDatabaseHp);
$('.table-circulating-pump').on('click', clickDatabaseCp);
$('.table-flowmeter, #flux-int').on('click', clickDatabaseFm);
$('.table-deepwell-pump').on('click', clickDatabaseDwp);
$('#CoefficientOfPerformance').on('click', clickDatabaseCop);
$('.PowerConsumption').on('click', clickDatabasePower);
</script>
