<!DOCTYPE HTML>
<p style="text-align:center;"><b>기기 동작 내역</b></p>
<table class="table table-hover logs">
	<tr>
		{# <td>번호</td> #}
		<td>위치</td>
		<td>전원</td>
		<td>시간</td>
	</tr>
	{% for log in switch_logs %}
	<tr>	
{# 		<td>{{ log.id }}</td> #}
		<td>{{ log.get_location_display }}</td>
		<td>{{ log.switch }}</td>
		<td>{{ log.dateTime|date:'Y-m-d H:i' }}</td>
	</tr>
	{% endfor %}
</table>
<div class="text-center">
	<ul class="pagination">
		<li><a href="" aria-label="Previous" class="page-index" id="prev">
			<span aria-hidden="true">&laquo;</span>
		</a></li>
		{% for i in page_range %}
			<li><a href="" class="page-index 
				{% if i == selected %}pg-selected{% endif %}" 
				id="{{ i }}">
				{{ i }}
			</a></li>
		
		{% endfor %}
		<li><a href="" aria-label="Next" class="page-index" id="next">
			<span aria-hidden="true">&raquo;</span>
		</a></li>
	</ul>
</div>

<script type="text/javascript">
// ajax log 페이지 이동
$('.page-index').on('click', function() {
	var selected = this.id;
	if(selected === "prev"){
		var cur_page = $(".pagination").find(".pg-selected").first().text();
		selected = parseInt(cur_page) -10;
		if(selected < 1){
			selected = 1;
		}
	}
	else if(selected === "next"){
		var cur_page = $(".pagination").find(".pg-selected").first().text();
		selected = parseInt(cur_page) +10;
	}
	$.ajax({
		url: "/monitor/page_request/",
		type: "POST",
		// dataType: "json",
		data: {
			'csrfmiddlewaretoken': '{{ csrf_token }}',
			'page': selected,
		},
		success: function(data) {
			$('#right-bottom').html(data);
			$('.pg-selected').removeClass('pg-selected');
			$('.pagination').find('#'+selected).addClass('pg-selected');
		}
	});
	return false;
});
</script>
