{% extends "monitor/database_base.html" %}
{% load staticfiles %}
{% block content %}
<div class="container-search-db">
<div class="conditions">
	<table class="table table-bordered table-conditions" id="search-conditions">
		<tr>
			<td rowspan="2" style="vertical-align: middle;"><b>검색조건</b></td>
			<td rowspan="1">날짜 <input type="text" id="datepicker1" class="datepicker"> ~ <input type="text" id="datepicker2" class="datepicker">
			</a></td>
		</tr>
		<tr class="search-conditions-detail">
			<td>
				<div class="select">
					<select name="type" id="type">
						<option value="fm">유량계</option>
						<option value="hp">히트펌프</option>
						<option value="cp">순환펌프</option>
						<option value="dwp">심정펌프</option>
						<option value="power">전력량계</option>
						<option value="cop">COP</option>
						<option value="tw">관측센서</option>
					</select>
				</div>
			</td>
		</tr>
	</table>
	<div style="display:inline;">
		<button class="btn-search-db">검색</button>
		<button class='btn-excel' onclick='Result2excel();'><img src="{% static "monitor/excel.png" %}" width="20"> 저장</button>
	</div>
	<div class="cur-int">
		<table class="table table-bordered table-conditions" id="show-conditions">
			<tr>
				<td>
					<input type="radio" name='flux' value='cur' onclick="ClickSearchFM();"> 순시유량
				</td>
				<td>
					<input type="radio" name='flux' value='int' onclick="ClickSearchFM();"> 적산유량
				</td>
			</tr>
		</table>
	</div>
	{# <div style="display:inline; float:right;"> #}
		{# <button class="btn-show-conditions">확인</button> #}
	{# </div> #}
</div>

<div>
	<div class="cur">
	<table class="table table-bordered table-header">
	<thead id="query-title">
		<tr>
			<td class="result-datetime" rowspan="2"><b>시간</b></td>
			<td class="result-cpfm" colspan="3"><b>순환수(열교환 후)</b></td>
			<td class="result-cpfm" colspan="3"><b>순환수(열교환 전)</b></td>
			<td class="result-dwpfm" colspan="3"><b>지하수 공급(양수)</b></td>
			<td class="result-dwpfm" colspan="3"><b>지하수 환수(주입)</b></td>
		</tr>
		<tr>
		{% for i in 12|make_list %}
			<td class="result-cpfm">Ton/hour</td>
			<td class="result-cpfm">lpm</td>
			<td class="result-temp">온도</td>
		{% endfor %}
		{% for i in 12|make_list %}
			<td class="result-dwpfm">Ton/hour</td>
			<td class="result-dwpfm">lpm</td>
			<td class="result-temp">온도</td>
		{% endfor %}
		</tr>
	</thead>
	</table>

	<div class="search-results">
		{% include 'monitor/search_db_fm_cur_result.html' %}
	</div>
	</div>

	<div class="int" style="display:none;">
	<table class="table table-bordered table-header">
	<thead id="query-title-int">
		<tr>
			<td class="result-datetime" rowspan="2"><b>시간</b></td>
			<td class="result-cpfm"><b>순환수(열교환 후)</b></td>
			<td class="result-cpfm"><b>순환수(열교환 전)</b></td>
			<td class="result-dwpfm"><b>지하수 공급(양수)</b></td>
			<td class="result-dwpfm"><b>지하수 환수(주입)</b></td>
		</tr>
		<tr>
		{% for i in 12|make_list %}
			<td class="result-cpfm">Ton/day</td>
		{% endfor %}
		{% for i in 12|make_list %}
			<td class="result-dwpfm">Ton/day</td>
		{% endfor %}
		</tr>
	</thead>
	</table>
	
	<div class="search-results">
		{% include 'monitor/search_db_fm_int_result.html' %}
	</div>
	</div>
</div>
</div>


<script>
// 달력 한글화
$(function() {
	$( ".datepicker" ).datepicker({
		dateFormat: 'yy-mm-dd',
		prevText: '이전 달',
		nextText: '다음 달',
		monthNames: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'],
		monthNamesShort: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'],
		dayNames: ['일','월','화','수','목','금','토'],
		dayNamesShort: ['일','월','화','수','목','금','토'],
		dayNamesMin: ['일','월','화','수','목','금','토'],
		showMonthAfterYear: true,
		yearSuffix: '년',
		dateFormat: 'yy-mm-dd'
	});
	$(".datepicker").datepicker("setDate", new Date());
});

// 초기화
$(document).ready(function() {
	$(":radio[value='cur']").attr("checked", true);
});

// 검색 버튼 클릭
$('.btn-search-db').on('click', ClickSearchFM);
function ClickSearchFM () {
	var startDate = $('#datepicker1').val();
	var endDate = $('#datepicker2').val();
	if (startDate == '' | endDate == '') {
		alert("날짜를 선택해주세요.");
		return;
	}
	var radio = $(":radio[name=flux]:checked").val();
	if (radio == 'cur') {
		url = '/monitor/search_db_fm_cur_result/'
	} else {
		url = '/monitor/search_db_fm_int_result/'
	}
	$.ajax({
		url: url,
		type: "POST",
		data : {
			'csrfmiddlewaretoken': '{{ csrf_token }}',
			'startDate': startDate,
			'endDate': endDate,
		},
		beforeSend: function() { $('#ajax-loader').show(); },
		complete: function() { $('#ajax-loader').hide(); },
		success: function(data){
			if (radio == 'cur') {
				$('.cur').find('.search-results').html(data);
				$('.int').hide();
				$('.cur').show();
				$('.cur').find('.table-bordered').last().find('tbody').find('tr').find('td').css('width','120px');
				$('.result-datetime').css('width','193px');
			} else {
				$('.int').find('.search-results').html(data);
				$('.cur').hide();
				$('.int').show();
				$('.int').find('.table-bordered').last().find('tbody').find('tr').find('td').css('width','20%');
				$('.result-datetime').css('width','20%');
			}
			
		}
	}).fail(function() {
		var dt = new Date();
		var time = dt.getHours() + ":" + dt.getMinutes() + ":" + dt.getSeconds();
		console.log(time + " search_fm error");
	});
	return false;
}

function Result2excel() {
	var radio = $(":radio[name=flux]:checked").val();
	if(radio == 'cur'){
		var numCol = 13;
		var found = $('.found').last().text();

		if(found == '0' || found == ''){
			alert('검색된 내용이 없습니다.');
			return;
		}
		numRow = parseInt(found);

		var columns = [];
		$('#query-title tr').find('td').each(function (i) {
			columns.push($(this).text());
		});

		// var rows = new Array(numRow);
		// for (var i = 0; i < numRow; i++){
		// 	rows[i] = new Array(numCol);
		// }

		// $('#query-result tr').map(function (i) {
		// 	$(this).find('td').each(function (j) {
		// 		rows[i][j] = $(this).text();
		// 	});
		// });	
	} else { // radio == 'int'
		var numCol = 5;
		var found = $('.found-int').last().text();

		if(found == '0' || found == ''){
			alert('검색된 내용이 없습니다.');
			return;
		}
		numRow = parseInt(found);

		var columns = [];
		$('#query-title-int tr').find('td').each(function (i) {
			columns.push($(this).text());
		});
		// console.log(columns);

		// var rows = new Array(numRow);
		// for (var i = 0; i < numRow; i++){
		// 	rows[i] = new Array(numCol);
		// }

		// $('#query-result-int tr').map(function (i) {
		// 	$(this).find('td').each(function (j) {
		// 		rows[i][j] = $(this).text();
		// 	});
		// });	
	}


	var startDate = $('#datepicker1').val();
	var endDate = $('#datepicker2').val();
	
	$.ajax({
		url: '/monitor/search_db_excel/',
		type: "POST",
		dataType: "json",
		data : {
			'csrfmiddlewaretoken': '{{ csrf_token }}',
			'columns': JSON.stringify(columns),
			// 'rows' : JSON.stringify(rows),
			// 'numRow' : numRow,
			'numCol' : numCol,
			'objType' : 'fm-' + radio,
			'startDate': startDate,
			'endDate': endDate,
		},
		beforeSend: function() { $('#ajax-loader').show(); },
		complete: function() {  },
		success: function(data){
			$('#ajax-loader').hide();
			window.location.pathname = 'monitor/download_result/' + data.obj_type + '/';
		}
	}).fail(function() {
		var dt = new Date();
		var time = dt.getHours() + ":" + dt.getMinutes() + ":" + dt.getSeconds();
		console.log(time + "fm excel error");
	});
	return false;
}
// infinite scroll
$(document).ready(function(){
	$('.result-datetime').css('width','193px')
	$('.table-header').first().find('thead').find('tr').last().find('td').css('width','120px');
    function addToLast()
    {
    	var startDate = $('#datepicker1').val();
		var endDate = $('#datepicker2').val();
		var count = $('.found').last().text();

        $.ajax({
		url: '/monitor/search_db_fm_cur_result/',
		type: "POST",
		data : {
			'csrfmiddlewaretoken': '{{ csrf_token }}',
			'startDate': startDate,
			'endDate': endDate,
			'count': count,
		},
		beforeSend: function() { $('#ajax-loader').show(); },
		complete: function() { $('#ajax-loader').hide(); },
		success: function(data){
			// console.log(count);
			if (count % 50 == 0) {
				$('.cur').find('.search-results').last().append(data);
				$('.cur').find('.table-bordered').last().find('tbody').find('tr').find('td').css('width','120px');
				$('.result-datetime').css('width','193px');
			}
		}
	}).fail(function() {
		var dt = new Date();
		var time = dt.getHours() + ":" + dt.getMinutes() + ":" + dt.getSeconds();
		console.log(time + " infinite scroll error");
	});
    };

    //addToLast();
    $(window).scroll(function(){
		var radio = $(":radio[name=power]:checked").val();
		if (radio == 'int') {
			return;
		}
        var wintop = $(window).scrollTop();
        var docheight = $(document).height();
        var winheight = $(window).height();
        var scrolltrigger = 0.999;

        if  ((wintop/(docheight-winheight)) > scrolltrigger) {
         // console.log('scroll bottom');
        	console.log((wintop/(docheight-winheight)));
        	addToLast();
        }
    });
});
</script>
{% endblock %}
