{% load staticfiles %}
<div class="total-information pos-abs">
<table class="table-total">
	<tbody>
		<tr>
			<td class="total">38</td>
			<td class="on">{{ on_total }}</td>
			<td class="off">{{ off_total }}</td>
			<td class="rt">{{ rt_total|floatformat:2 }}</td>
		</tr>
		<tr>
			<td class="total">14</td>
			<td class="on">{{ on_f1 }}</td>
			<td class="off">{{ off_f1 }}</td>
			<td class="rt">{{ rt_f1|floatformat:2 }}</td>
		</tr>
		<tr>
			<td class="total">12</td>
			<td class="on">{{ on_f2 }}</td>
			<td class="off">{{ off_f2 }}</td>
			<td class="rt">{{ rt_f2|floatformat:2 }}</td>
		</tr>
		<tr>
			<td class="total">12</td>
			<td class="on">{{ on_f3 }}</td>
			<td class="off">{{ off_f3 }}</td>
			<td class="rt">{{ rt_f3|floatformat:2 }}</td>
		</tr>
	</tbody>
</table>
</div>
