{% load staticfiles %}
<table class="ciu">
<tbody><tr>
	{# 평생학습실1-1 #}
	{% if us.0.switch == "ON" %}
		<td style="background-image: url('{% static 'monitor/right/h1/1-on.png' %}');">
			{{ us.0.temperature }}
		</td>
	{% else %}
		<td style="background-image: url('{% static 'monitor/right/h1/1-off.png' %}');">
			{{ us.0.temperature }}
		</td>
	{% endif %}
	{# 평생학습실1-2 #}
	{% if us.1.switch == "ON" %}
		<td style="background-image: url('{% static 'monitor/right/h1/2-on.png' %}');">
			{{ us.1.temperature }}
		</td>
	{% else %}
		<td style="background-image: url('{% static 'monitor/right/h1/2-off.png' %}');">
			{{ us.1.temperature }}
		</td>
	{% endif %}
	{# 평생학습실2-1 #}
	{% if us.2.switch == "ON" %}
		<td style="background-image: url('{% static 'monitor/right/h1/3-on.png' %}');">
			{{ us.2.temperature }}
		</td>
	{% else %}
		<td style="background-image: url('{% static 'monitor/right/h1/3-off.png' %}');">
			{{ us.2.temperature }}
		</td>
	{% endif %}
</tr>
<tr>
	{# 평생학습실2-2 #}
	{% if us.3.switch == "ON" %}
		<td style="background-image: url('{% static 'monitor/right/h1/4-on.png' %}');">
			{{ us.3.temperature }}
		</td>
	{% else %}
		<td style="background-image: url('{% static 'monitor/right/h1/4-off.png' %}');">
			{{ us.3.temperature }}
		</td>
	{% endif %}
</tr></tbody>
</table>
